@charset "utf-8";

#wrap{width:100%;overflow: hidden;}

/* 팝업창 열기 */
#pop_up{
  width:100%; height:100%; position:fixed; 
  left:0; top:0; background:rgba(0,0,0, 0.6);
   z-index:99; display:none;}/*뒷 배경*/
#pop_up .img{
  width:100%; height:100%;
  position:fixed; left:50%; top:50%; transform:translate(-50%,-50%);  background:#d6d6d4; text-align:center;}  /* 네비게이션 팝업창 배경 */
#pop_up .img img{display:block; padding:20px;}
button{cursor:pointer;}
#pop_up .btn{text-align:center; position:absolute; top:50px; right:115px;}
#pop_up .btn button{display:block;margin:0 auto;  padding:6px 12px; border:none; color:#FAF9F8;
  background:url('../icon/ic_close.svg') 80% no-repeat; 
}
#pop_up .btn button span{font-size:0;}
.modal{display:block; margin-bottom:50px; width:100%;} 
#header .menu ul li:nth-child(3) .nav_logo{position: absolute; top:35px; left:90px; width:285px; z-index:9999;}
#header .menu ul li:nth-child(3) .nav_logo img {width:100%;}

/* 유저 로그인 */
.user{ margin:150px 0 0 0; text-align: center;}
.user div {margin-bottom:50px;}
.user div .pro{display:block; width:150px; height:150px;margin:50px auto;border-radius:150px; background-color: #4B4B4B;background-image:url('../images/profile.jpg'); background-size:100%;}
.user .pro2{font-size:1.2rem; font-weight:700;}
.user dt{
  text-align:center;
  font-family:poppins-extrabold;
	font-size:2.8rem;
  font-weight:600;
	color:#7E7E87;
  padding:10px 0;}
.user dd{color:#4B4B4B;}
.user dd:last-child::after {content:''; display:block; width:300px; height:2px;background-color:#7E7E87; margin:20px auto;}


.nav-accod .m_nav{
  padding:50px;
}
#wrap_head {
  display:flex; 
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-between;
  }
#wrap_head #btn1 , #wrap_head #btn2{
  display:flex;
   flex-direction:column;
   flex-wrap:wrap; 
   justify-content:space-around;
}
#wrap_head #btn1{
  margin-right: 200px;
}

/* 모달 팝업 속 네비게이션 디자인 */
#header .nav-accod{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-between;
}
#btn1 ul , #btn2 ul{display:none}
#wrap_head #btn1 > li , #wrap_head #btn2 > li{
  font-family:NotoSansKR-black;
	font-size:2.8rem;
  font-weight:700;
  text-align:center;
	color:#0F0F10;
	background-image:url(images/arrow_down.png);
	background-repeat:no-repeat;
	background-position:95% center;
	padding:0px 10px;
	border-radius:3px;
	margin:80px 0 20px 0px;
}
#wrap_head #btn1 > li .sub , #wrap_head #btn2 > li .sub{
  font-size:1.2rem;
  color:#777;
  font-weight:300;
}
#wrap_head #btn1 > li .sub li{
  padding:5px;
}

/*================ navigation end ====================*/


#header {padding-left:100px;padding-right:100px;padding-top:50px;background: black;}
#header > div {
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:space-between;
}
#header .menu .m_ul{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:flex-end;
}
#header .menu ul li {padding:0 15px;}
#header .menu li span {font-size:1px;opacity:0;display:block;}
#header .menu ul li.icon img{width:30px;}
#header .log img{height: 30px;}

#main {background-color:#000000;margin-bottom:100px;
  background-size : cover; background-attachment : fixed;
}
#main .lazy {
    max-width:1320px;
    margin:0 auto;
}
#main .main_text {
    font-family: poppins-extrabold;
    font-size:3rem; /*48px*/
    font-weight: 600;
    color:#ffffff;
    width:50%;
}

#main .main_text:not(.m_ko){line-height:55px;}

#main .main_text .thin{
    font-family:notosansKR;
    font-weight:100;
    font-size: 1.8rem;
    font-weight:400;
    margin-bottom:50px;
}
#main .main_text .m_ko{
    font-family: notosanskr;
    font-weight:100;
    font-size: 1.1rem;
    font-weight:400;
    line-height:30px;
}

#main .main_img {
  display:block;
  text-align:right; 
  padding-bottom:100px;
}

#main .main_text{
   width:100%;
   position:absolute;
   top:200px;left:0;
}

#main .slick-slide .flex{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:flex-end;
    align-items:flex-end;
}

#main .slick-arrow{
    opacity:0;
}
#main .slick-dots {
    position:absolute;
    top:50%; right:-10%;
}

#main .slick-dots button{
    width:10px;
    height:10px;
    border-radius:10px;
    border:2px solid #fff;
    font-size:0;
    background:none;
}
#main .slick-active button {background-color: #fff;} /*slick-active버튼명령어가  slick-dots버튼의 명령어보다 아래에 있어야 적용됨.*/


#main .nav{color: #fff;}
#main .nav ul {position:absolute; top:50%; left:5%;}
#main .nav ul li{font-weight:700; font-size:1.2rem; padding:10px 0;}




/* ==========================section1============================== */
#section1 {position:relative;}
#section1 .swiper-slide a{display:block;}


.title{font-size:2.4rem; margin-bottom:50px;}
.date {font-size:1rem; color:#777777;}

/* Demo styles */
      .swiper {
        width: 100%;
        height: 100%;
        overflow:hidden;
        margin-bottom: 100px;
      }
      .swiper-wrapper {margin-bottom:50px;}

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        overflow:hidden;
        margin-bottom:10px;
        width: 350px !important;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        object-fit: cover;
      }

      .swiper-slide .img_box {
        /*flex-shrink: 0;
        width: 100%;
        height: 100%;
        position: relative;
        transition-property: transform;*/
        width:350px !important;
        height:350px;
        border-radius:30px;
        margin-bottom: 20px;
        overflow:hidden;
    }
    .dp_tit{display: block;}
    .swiper-button-prev:after, .swiper-button-next:after {
     display:none;
  }
    .swiper-button-prev{background:url(../icon/ic_prev.svg) no-repeat center; width: 50px; left:0;}
    .swiper-button-next{background:url(../icon/ic_next.svg) no-repeat center; width: 50px; right: 0;}

/* demostyles end */


#section1 {margin-bottom:200px;}
#section1 .select{display:flex; flex-direction: row; flex-wrap:nowrap; justify-content:center; margin:0 auto;}
#section1 .search{margin: 0 auto;}
#section1 .search .inner > p{font-size:1.2rem; font-weight:600;text-align: center; margin-bottom: 30px;}
#section1 .search .inner .thin2{font-size:1rem;font-weight:100;}

#section1 .search_bar input{ border:none; width:400px; background:#EAEAEA; margin-left:30px;outline: none;position:relative;}
#section1 .search_bar button{padding:15px 30px; background: #424383 ;
border:none;
border-radius:10px;
color:#fff;
margin-right:0;}

#section1 .search_bar::before{content:''; display:block;background:url('../icon/ic_won.svg')no-repeat center; background-size:100%; width:50px; height:50px;}

#section1 .search_bar button:hover{color:#424383;background: #bdbeeb}

#section1 .price{
  width:150px;
  border:none;
  background:none;
  /* padding:15px 40px 15px 60px;   */
  appearance:none; /*select 기본 화살표모양 없애기*/
  outline:none;
  text-align:left;
  font-size:0.9rem;
  margin:auto 0;
  position:relative;
}
#section1 .price p{padding:0 10px;content:''; display:block;background:url('../icon/ic_drop.png') no-repeat; background-position:100px;}
#section1 .price ul{background:#fff; position:absolute;padding:0 10px;top:40px;border:1px solid#ddd;display:none;}
#section1 .price ul li{padding:10px;}
#section1 .search_bar{
    background:#EAEAEA;
    width:680px;
    margin-left:30px;
    text-align:center;
    padding:15px;
    border-radius:15px;
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:space-between;
}

#section1 .d_picker{border-radius:15px; width:300px; padding:15px;background:#EAEAEA;}
#section1 .d_picker input{width:150px; border:none; outline: none; background:#EAEAEA;text-align:center;margin:auto 0;}

#section1 .ui-datepicker-trigger{display:none;}
#section1 .d_picker div {display:flex; flex-direction:row; flex-wrap: nowrap; justify-content: space-around;}
#section1 .d_picker div::before{content:''; display:block;width:50px; height:50px;background:url('../icon/ic_sched.svg') no-repeat center;background-size:100%;}
#section1 .d_picker div::after{content:''; display:block;width:50px; height:50px;background:url('../icon/ic_drop.png') no-repeat 100% center; }



/*픽커 click시 나오는 달력 디자인*/
.ui-datepicker .ui-datepicker-header {
  background-color: #bdbeeb;
}
.ui-datepicker-title select {border:none;   background-color: #bdbeeb; text-align: center; font-weight: 700; color: #ffffff;} 
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  background: #424383;
  font-weight: normal;
  color: #ffffff;
}
/* ==========================section1 end============================== */

/* ==========================section2============================== */
#section2{margin-bottom:200px;}
#section2 .title{text-align: left;}
#section2 .box{display: flex; flex-direction:row;flex-wrap:nowrap; justify-content: space-between; } 
#section2 .slider-nav img{width:100%;position:relative;}
#section2 .slick-prev{background: url('../icon/ic_prev.svg')no-repeat center; border: none ; width:50px;height:50px; font-size:0; position:absolute; top:50%; z-index:9999;}
#section2 .slick-next {background: url('../icon/ic_next.svg')no-repeat center; border: none;width:50px;height:50px; font-size:0; position:absolute; top:50%; right:0%;z-index:9999;}

#section2 .slider-nav > div {width:600px; height:600px;border-radius:30px;}
#section2 .slider-for{width:100%; text-align:left;}

#section2 .slider-for h4{font-size:1.2rem;margin-bottom:10px;}
#section2 .slider-for .date {color:#777777; margin-bottom:20px;}
#section2 .for-btn{display: flex; flex-direction: column; flex-wrap: nowrap; justify-content:space-between; width:50%; }

#section2 .dp_btn{display:flex; flex-direction: row; flex-wrap:nowrap; justify-content: flex-end;}
#section2 .dp_btn .audio {margin-right:50px;}
#section2 .dp_btn .audio, #section2 .dp_btn .vr{display:block;background-color:#c4c4c4; width:190px;  padding:20px; border-radius:20px; text-align:center;
transition:0.2s;}

#section2 .dp_btn .audio:hover , #section2 .dp_btn .vr:hover{box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; color:#fff;} 

/* ==========================section2 end============================== */

/* ==========================section3 ============================== */
#section3 {margin-bottom:100px;}
#section3 .explain {display: flex; flex-direction: column;}
#section3 .flex{display:flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;}
#section3 .title{margin-bottom:100px;}
#section3 .date{margin-bottom:20px;}
#section3 .img_box{display: flex; flex-direction:row; flex-wrap: nowrap; justify-content: space-between;}
#section3 .thum_text{width:100%; margin:30px 0;}
#section3 .all{width: 50%;}
.thum_list:after{content: '';display: block;clear:both;}
.thum_list li
{box-sizing:border-box;
float:left;
display: none;
width:50%;
}
.thum_list li .cont {height:100px;}
.thum_list li div {width:calc(100% - 20px);
  height:300px; overflow:hidden;}
.thum_list li:nth-child(4n){margin-right:0}
.thum_list li a{display: block;width:100%;}
.thum_list img {width:100%;}
.more{font-size:0;width:100px; height:100px;text-align:left;margin:10% 44%; background:url('../icon/ic_drop2.png') no-repeat;}
.thum_list li p ,.thum_list li h4 {text-align: center;}
.thum_list li p:last-child{text-align:left;}

#section3 .more:hover {filter:invert(26%) sepia(47%) saturate(1006%) hue-rotate(204deg) brightness(84%) contrast(85%);} /*더보기버튼에 마우스오버하면 색상이 변하는 필터*/

/* ==========================section3 end============================== */

/* ============================section4==================================== */
#section4 {margin-bottom:200px;} 
#section4 .notice{margin:0 auto 100px auto; position:relative;display:flex; flex-direction: row; flex-wrap:wrap; justify-content:space-around;
  width:60%;background-color:#0F0F10;border-radius:20px;
}

#section4 .notice div > p{color:#fff; padding:20px;}
#section4 .notice div > p span {margin:0 40px 0 50px; font-weight:700;}
#section4 .notice .title {
  font-size:1.6rem; /*position:absolute;top:20px; left:25%;*/
  color:#fff;
  margin: auto 0px auto 20px;
  }

#section4 .slick-arrow{width: calc(100% - 1422px - 40px - 102.4px)}
#section4 .notice .slick-prev{background: url('../icon/ic_up.png') no-repeat center; border: none; width:20px;height:20px ;font-size:0; position:absolute ;right:50px;top:10px;z-index:9999;}

#section4 .notice .slick-next{background: url('../icon/ic_down.png') no-repeat center; border: none ; width:20px;height:20px; font-size:0;position:absolute ;right:50px; bottom:10px;}


#section4 .pop-map{display:flex; flex-direction: row; flex-wrap:wrap; justify-content:space-between;}
#section4 .pop-map > div{width:calc((100% - 50px)/2);}
#section4 .pop img{width:100%;}
#section4 .lazy3 .slick-prev, #section4 .lazy3 .slick-next{opacity:0; 
}
/* #section4 .slick-arrow{border:none;background:none;font-size:0;} */
#section4 a.more_btn{display:block; background:url('../icon/ic_more.png') no-repeat center; background-size:100%; width:40px; height:40px; margin: auto 0px  auto 0;}

#section4 .lazy3 div {border-radius:30px; overflow:hidden;}
#section4 .slick-dots {
display:flex; flex-direction:row; flex-wrap:nowrap; justify-content: flex-end; position:absolute; top:30px; right:30px;}
#section4 .slick-dots button{background:none; border:2px solid #c4c4c4; border-radius:15px; width:10px; height:10px; font-size:0; margin:0 5px;}
#section4 #map{border-radius: 30px;width:100%;height:100%;}
#section4 .slick-active button{background-color: #c4c4c4; }
#section4 .vertical-center{width: calc(100% - 128px - 100px);}

/* ============================section4 end==================================== */

/* ============================section5==================================== */
#section5 .sec5_all{display:flex; flex-direction:row; flex-wrap:nowrap; justify-content: space-between;
}
#section5 .sec5_all > div {
  width: calc((100% - 50px)/2);
}

#section5 .letter_txt{ margin-bottom: 50px;}
#section5 .letter_img img{width:100%;}
#section5 h4{font-size: 1.8rem; font-weight:700; margin-bottom: 20px;}

#section5 .form{ background-color:#E8E8E8; width:100%; padding:50px 50px 50px 50px; border-radius: 30px;}
#section5 .form h6{font-size:1.3rem;margin-bottom:50px; color: #565656;}
#section5 .form .name, #section5 .form .mail {border-bottom:2px solid #4f4f4f;padding:10px;}
#section5 .form .name {margin-bottom:30px;}
#section5 input{border:none; background:none; width:350px; outline:none;}
#section5 .mail{margin-bottom:50px;}
#section5 .send {width:150px; padding:15px; text-align:center;background-color:#C4C4C4; border:none; border-radius:20px;margin:50px 0 0 70%; font-size:15px;}
#section5 .send:hover {box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; color:#fff;}  

/* ============================section5 end==================================== */

/* ============================footer==================================== */
#footer {background-color:#C4C4C4; padding:50px 0;}
#footer .inner{display: flex; flex-direction:row; flex-wrap:nowrap; justify-content: space-between;}
/* #footer .foot_logo , #footer .foot_text , #footer .foot_ic{width:30%;} */
#footer .foot_logo img{width:80%;}
#footer .foot_text p:first-child{margin-bottom: 45px;}
#footer .foot_text p:last-child{color: #4f4f4f;}
#footer .foot_ic {margin-top:80px;}
#footer .foot_ic a{padding:0 5px;}

/* ============================footer end==================================== */


/*==================== 섹션별 시간차애니메이션 =======================*/

 #main .main_text p{
  transform: translate(-30%,0);
  opacity: 0;
  transition: 1s transform, 2s opacity;
}
/*원본: 1)-30%만큼 이동해서 움직이려는 오브젝트를 화면 밖으로 이동시킨다.*/

#main .slick-current .main_text.show-animation p{
  transform: translate(0,0);
  opacity: 1;
}
/* 2).show-animation이 붙은 클래스는 다시 원래 자리로 돌아오게 된다. (transition의 효과)  */

#section1 .search .question{
  transform: translate(-20%,0);
  opacity:0;
  transition:3s transform, 2s opacity;
}
#section1 .search .question.show-animation{
  transform: translate(0,0);
  opacity:1;
}

#section2 .slider-nav{
  transform: translate(-50%,0);
  opacity:0;
  transition: 2s transform, 2s opacity;
}
#section2 .for-btn{
  transform: translate(50%,0);
  opacity:0;
  transition: 2s transform, 2s opacity;
}
#section2 .slider-nav.show-animation {
  transform: translate(0,0);
  opacity:1;
}
#section2 .for-btn.show-animation{
  transform: translate(0,0);
  opacity:1;
}

#section3 .flex > p{
  transform: translate(-50%,0);
  opacity:0;
  transition: 2s transform, 2s opacity;
}
#section3 .flex > p.show-animation{
  transform: translate(0,0);
  opacity:1;
}
#section3 .thum_list li , #section3 .more{
  transform: translate(50%,0);
  opacity:0;
  transition: 2s transform, 2s opacity;
}
#section3 .thum_list li.show-animation , #section3 .more.show-animation {
  transform: translate(0,0);
  opacity:1;
}

#section5 .letter_img img
{
  transform: translateY(50%);
  opacity:0;
  transition: 2s transform, 2s opacity ;
}
#section5 .letter_img.show-animation img
{
  transform: translateY(0);
  opacity:1;
}
#section5 .input_form
{
  transform: translateY(-50%);
  opacity:0;
  transition: 2s transform, 2s opacity ;
}

#section5 .input_form.show-animation
{
  transform: translateY(0);
  opacity:1;
}



